@{
    Layout = null;
}

@model Movies

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Movie</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <link asp-append-version="true" type="text/css" href="~/css/HorrorStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="image-container">
        <header>
            <a class="nav" href="./Index">Back to Database</a>
        </header>
        <main>

<h2 id="insert-title">Add Movie To the Database</h2>
    <section class="form">
@using (Html.BeginForm("InsertMovieToDatabase", "Movie", "Post"))
{
    <input asp-for="ID" type="hidden" value="" />

    <label asp-for="Title" class="control-label">Title</label>
    <input type="text" name="Title" class="form-control" value="" />

    <label asp-for="Genres" class="control-label">Genres</label>
    <input type="text" name="Genres" class="form-control" value="" />

    <label asp-for="ReleaseDate" class="control-label">Release Date</label>
    <input type="text" name="ReleaseDate" class="form-control" value="" />

    <label asp-for="ReleaseCountry" class="control-label">Release Country</label>
    <input type="text" name="ReleaseCountry" class="form-control" value="" />

    <label asp-for="MovieRating" class="control-label">Movie Rating</label>
    <input type="text" name="MovieRating" class="form-control" value="" />

    <label asp-for="ReviewRating" class="control-label">Review Rating</label>
    <input type="text" name="ReviewRating" class="form-control" value="" />

    <label asp-for="RunTime" class="control-label">Run Time</label>
    <input type="text" name="Runtime" class="form-control" value="" />

    <label asp-for="Plot" class="control-label">Plot</label>
    <input type="text" name="Plot" class="form-control" value="" />

    <label asp-for="Cast" class="control-label">Cast</label>
    <input type="text" name="Cast" class="form-control" value="" />

    <label asp-for="Language" class="control-label">Language</label>
    <input type="text" name="Language" class="form-control" value="" />

    <label asp-for="FilmingLocations" class="control-label">Filming Locations</label>
    <input type="text" name="FilmingLocations" class="form-control" value="" />

    <label asp-for="Budget" class="control-label">Budget</label>
    <input type="text" name="Budget" class="form-control" value="" />

    <label asp-for="UserRating" class="control-label">User Rating</label>
    <input type="number" step="1" max="10" min="0" name="UserRating" class="form-control" value="" />

    <input id="insert-button" type="submit" value="Create Movie" class="btn-insert btn-primary" />
}
    </section>


        </main>
    </div>
</body>
</html>